*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(141, 44, 44);
    align-items: center;
    min-height: 100vh;
    
}
.container{
    border:solid;
    border-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.chatbox{
    width: 700px;
    height: 500px;
    background-color:white;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
}
#text{
    border-radius: 15px 0 0 15px;
    border-width: 0px;
    background-color:darkblue;
    height: 60px;
}
button{
    
    background-size: cover;
    background-position-y: center;
    background-color:orangered;
    height: 60px;
    width: 88px;
    border-radius: 0 18px 18px 0;
    margin-left: 0px;
   
}

.input-msg{
    padding: 0px;
    padding-left: 17px;
    display: flex;
    position: absolute;
    bottom: 0;
}
input{
    
    height: 35px;
    width: 600px;
}
.user{
    background-color:blueviolet;
    align-items: left;
    height: 50px;
}
.chats{
    width: 100%;
    padding: 0 15px;
    color: black;
    position: relative;
    height: 374px;
    font-size: 0.9em;
}
.user-text{
    color: white;
    width: 60%;
    background-color:darkblue;
    padding: 7px 11px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}

.client-text{
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    width: 60%;
    background-color: lightgrey;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}
.date{
    font-size: 11px;
    color:black;
}
